* {
    padding: 0px;
    margin: 0px;
}

.boardwrap{
	padding-top: 30px;
	width: 800px;
	margin: auto;
}

.board_head, .board_nav{
	margin: auto;
}

.board_head{
	font-size: 25px;
	margin-bottom: 20px;
}

.board_head a{
	font-weight: bold;
}

.board_nav{
	margin-bottom: 20px;
	box-shadow: 0 1px 1px #aaa;
	padding: 10px 0px;
	border-radius: 5px;
	font-weight: bold;
	border: 1px solid silver;
	display: flex;
}

.board_nav a{
	margin-left: 20px;
	font-size: 14px;
	text-align: center;
}

.first_a {
	margin: 0px 12px 0px 12px;
}

.tb_nav{
	margin-left: 15px;
}

.tb_nav label{
	font-size: 14px;
	padding-right: 5px;
	cursor: pointer;
	font-weight: bold;
}

.mainboard{
	width: 100%;
	text-align: center;
	margin: auto;
	border-collapse: collapse
}

.b_con{
	display: inline-block;
	width: 75px;
	text-align: center;
}

.b_sel{
	margin: 0px 5px;
	text-align: center;
}

tr{
	border-top: 0.5px solid grey;
	border-bottom: 0.5px solid grey;
}

table tr:nth-child(1){
	font-weight: bold;
}

td{
	white-space: no-wrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 10px 0px;
	font-size: 13px;
}

.edit-btn{
	text-align: right;
	margin: 10px 0px 20px;
}

.edit-btn button{
	width: 70px;
	padding: 5px;
	background-color: #303030;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

.radio{
	display:none;
}

.page-move-button-wrap{
	margin: auto;
	display: flex;
	padding: 20px 0px;
}

.p-g-b-inner-wrap{
	margin: auto;
	display: flex;
	height: 25px;
}

.pagebtn{
	width: 25px;
	height: 25px;
	font-weight: bold;
	border: 1px solid #F5F7FF;
	border-radius: 5px;
	margin: 0px 5px;
	cursor: pointer;
	background-color: #F5F7FF;
}

.pagebtn:hover {
	border: 0.5px solid silver;
}

.movepage-btn{
	padding: 0px 5px;
	height: 25px;
	border: 1px solid #F5F7FF;
	border-radius: 5px;
	cursor: pointer;
	background-color: #F5F7FF;
}

.movepage-btn:hover {
	border: 0.5px solid silver;
}

.search_wrap{
	margin: auto;
	text-align: center;
	margin-top: 10px;
}

.search_area{
	display: flex;
}

.search-inner-area{
	margin: auto;
	display: flex;
}

.search_area input{
	width: 250px;
	height: 40px;
	margin-left: -1px;
	box-sizing: border-box;
	border: 1px solid silver;
}

.search_area select{
	height: 40px;
	box-sizing: border-box;
	padding: 0px 7px;
	border: 1px solid silver;
}

.search_area select:nth-child(2){
	margin-left: -1px;
}

.search-btn-area{
	width: 50px;
	height: 40px;
	margin-left: -1px;
	background-color: white;
	border: 1px solid silver;
	cursor: pointer;
}

.search-img{
	width: 25px;
	height: 25px;
}
