* {
    padding: 0px;
    margin: 0px;
}

.boardreg-wrap{
	width: 800px;
	margin: auto;
}

.boardreg-inner-wrap{
	padding-top: 30px;
}

.boardreg-titlereg-area{
	font-size: 25px;
	font-weight: bold;
}

.boardreg-selectConSel-area{
	padding : 20px 0px;
	display: flex;
}

.boardreg-selectConSel-area span{
	font-size: 15px;
}

.boardreg-selectConSel-area select{
	margin: 0px 5px;
}

.reg_title{
	width: 97%;
	height: 25px;
	text-align: left;
	border: 2px solid #ef3e61;
	margin:3px 0px 3px 0px;
	padding: 5px;
	outline:none;
	padding: 0px 10px;
	font-size: 13px;
	width: 776px;
	height: 35px;
	outline: none;
}

input::-webkit-input-placeholder{
	font-weight: bold;
}

.boardreg-textarea{
	width: 100%;
	margin-top: 20px;
}

.reg_textarea{
	min-width: 778px;
	max-width: 778px;
	min-height: 50vh;
	padding: 10px;
	font-size: 15px;
	outline: none;
}

<<<<<<< HEAD
.form-control{
	width: 80%;
	height: 400px;
	text-align: left;
	border: 2px solid #ef3e61;
	outline:none;
	padding: 5px;
	resize: none;
}

caption{
    padding: 15px;
    font-size: 24px;
    font-weight: 800;
}

a {
	text-decoration: none;
	color: black;
}

.board-order{
    font-size: 15px;
    font-weight: bold;
}
.board-order td{
    padding: 10px;
    border-top: 3px solid  #ef3e61;
    border-bottom: 2px solid  #ef3e61;
    border-left: 1px dashed #ef3e61;

}


.board-order__item td {
    border-top: 1px solid  #ef3e61;
    border-left: 1px dashed #ef3e61;
    padding: 5px 0px;
    margin: 5px 0px;
}

.board-order__item td:first-child,
.board-order td:first-child{
    border-left: none;
}

.enter__btn {
    height: 50px;
    padding: 10px;
    text-align: right;
    border-bottom: 3px solid  #ef3e61;
    border-top: 2px solid  #ef3e61;
  }

.enter__btn button {
    width: 100px;
    height: 40px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 15px;
=======
.boardreg-btn{
	padding: 20px 0px;
	text-align: right;
}

.boardreg-btn button{
	width: 120px;
    padding: 5px;
    background-color: #303030;
>>>>>>> origin/NewNewMaster
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
