* {
    padding: 0px;
    margin: 0px;
}

.boardreg-wrap{
	width: 800px;
	margin: auto;
}

.boardreg-inner-wrap{
	padding-top: 30px;
}

.boardreg-titlereg-area{
	font-size: 25px;
	font-weight: bold;
}

.boardreg-selectConSel-area{
	padding : 20px 0px;
	display: flex;
}

.boardreg-selectConSel-area span{
	font-size: 15px;
}

.boardreg-selectConSel-area select{
	margin: 0px 5px;
}

.reg_title{
	padding: 0px 10px;
	font-size: 13px;
	width: 776px;
	height: 35px;
	outline: none;
}

input::-webkit-input-placeholder{
	font-weight: bold;
}

.boardreg-textarea{
	width: 100%;
	margin-top: 20px;
}

.reg_textarea{
	min-width: 778px;
	max-width: 778px;
	min-height: 50vh;
	padding: 10px;
	font-size: 15px;
	outline: none;
}

.boardreg-btn{
	padding: 20px 0px;
	text-align: right;
}

.boardreg-btn button{
	width: 120px;
    padding: 5px;
    background-color: #303030;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
