* {
    padding: 0px;
    margin: 0px;
}

.boardup-wrap{
	width: 800px;
	margin: auto;
}

.boardup-inner-wrap{
	padding-top: 30px;
}

.boardup-title-area{
	font-size: 25px;
	font-weight: bold;
}

.boardup-selectConSel-area{
	padding : 20px 0px;
	display: flex;
}

.boardup-selectConSel-area span{
	font-size: 15px;
}

.boardup-selectConSel-area select{
	margin: 0px 5px;
}

.up-title{
	padding: 0px 10px;
	font-size: 13px;
	width: 776px;
	height: 35px;
	outline: none;
}

.boardup-textarea{
	width: 100%;
	margin-top: 20px;
}

.up_textarea{
	width: 778px;
	min-width: 778px;
	height: 50vh;
	min-height: 50vh;
	padding: 10px;
	font-size: 15px;
	outline: none;
}

.boardup-btn{
	float: right;
	margin-top: 10px;
}

.boardup-btn button{
	width: 120px;
    padding: 5px;
    background-color: #303030;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
