@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
}

body{
	background-color: #F5F7FF;
}

.findIDWrap{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 350px;
	height: 550px;
	box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
	border-radius: 15px;
	background-color: white;
}

.caption{
	height: 25%;
	line-height: 180px;
	text-align: center;
	font-size: 28px;
}

.infoWrap{
	padding-top: 10px;
	height: 30%;
	width: 100%;
}

.name{
	margin: 0 auto;
	margin-top: 10px;
	width: 78%;
}

.jumin{
	margin: 0 auto;
	margin-top: 20px;
	width: 78%;
}

.email{
	margin: 0 auto;
	padding-top: 20px;
	width: 78%;
}

.checkNum{
	margin: 0 auto;
	margin-top: 10px;
	width: 78%;
}

.infoWrap span{
	font-size: 12px;
}

.name input{
	width: 100%;
	height: 30px;
	border: 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	background-color: transparent;
	outline: none;
}

.jumin input{
	width: 44%;
	height: 30px;
	border: 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	background-color: transparent;
	outline: none;
}

.juminDash{
	width: 20px;
	display: inline-block;
	text-align: center;
}

.email input{
	width: 44%;
	height: 30px;
	border: 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	background-color: transparent;
	outline: none;
}

.emailAt{
	width: 20px;
	display: inline-block;
	text-align: center;
}

.certificationNum{
	display: inline-block;
	position: relative;
	width: 59%;
}

#demo{
	position: absolute;
	top: 5px;
	right: 0;
	font-size: 12px;
	color: red;
}

.checkNum input{
	width: 100%;
	height: 30px;
	border: 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	background-color: transparent;
	outline: none;
}

#mail-Check-Btn{
	margin-left: 10px;
	padding: 3px;
}

.btn_wrap{
	margin-top: 120px;
	text-align: center;
	font-size: 12px;
	line-height: 100px;
}

#find{
	width: 78%;
	height: 45px;
	color: white;
	background-color: #1089ff;
	border: 1px solid #1089ff;
	border-radius: 20px;
	font-size: 13px;
}
