* {
    padding: 0px;
    margin: 0px;
}

.boardwrap{
	margin-top: 20px;
}

caption{
	text-align: left;
	font-size: 20px;
	margin-bottom: 30px;
}

.mainboard{
	text-align: center;
	width: 70%;
	margin: auto;
	border-collapse: collapse
}

tr{
	border-top: 0.5px solid grey;
}

td{
	white-space: no-wrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 10px 0px;
}
