@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
}

body{
	background-color: #F5F7FF;
}

.currency_wrap{
	margin: 0 auto;
	margin-top: 30px;
	width: 400px;
	box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
	border-radius: 15px;
	background-color: white;
	padding: 15px 20px 20px 20px;
}
caption{
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 28px;
}
table{
	margin: 10px;
}
td{
	text-align: center;
}
td:nth-child(3){
	text-align: right;
}
